// Color variables
@import 'sass-md-colors/colors/variables';

// Customize any variables here, before loading the default variables
$brand-primary: $indigo-400 !default;
$card-spacer-x: .625rem !default;
$card-spacer-y: .625rem !default;

// Default style
@import 'bootstrap-layout/src/sass/variables';